html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #3D1101;
  line-height: 1.5;
  background-color: #EFE9E7;
  font-family: 'Noto Sans TC';
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

button {
  font-family: inherit;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

input {
  font-family: inherit;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.nav {
  padding: 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-link {
  padding: 18px;
  color: #fff;
}

.navbar-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-link.active {
  opacity: .75;
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.85);
  }
}

.burgerBtn {
  padding: 18px;
  color: #fff;
  display: none;
}

.burgerBtn:hover {
  opacity: .7;
}

@media (max-width: 768px) {
  .burgerBtn {
    display: block;
  }
}

.burgerBtn-active {
  max-height: 300px;
}

.logo {
  width: 120px;
  height: 24px;
  background: url("../images/logo_w@svg.svg") no-repeat center/contain;
  text-indent: 101%;
  overflow: hidden;
}

.banner {
  height: 450px;
  background: url("../images/header_desktop.png") no-repeat center/cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-text {
  padding: 20px 40px;
  font-size: 36px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.35);
}

.banner-text p {
  font-size: 16px;
  margin-top: 12px;
}

@media (max-width: 768px) {
  .banner {
    background-image: url("../images/header_mobile.png");
  }
}

.footer {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer > li {
  width: 30%;
}

.footer-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .footer > li {
    width: 100%;
  }
  .footer > li + li {
    margin-top: 32px;
  }
  .footer-title {
    margin-bottom: 8px;
  }
}

.contact ul {
  list-style-type: disc;
  list-style-position: inside;
}

.contact a {
  display: inline-block;
}

.contact a:hover {
  opacity: .6;
}

.social {
  text-align: right;
  font-size: 36px;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social li + li {
  margin-left: 16px;
}

.social a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fa-google-plus-square {
  color: #DB4437;
}

.fa-twitter-square {
  color: #41ABE1;
}

.fa-facebook-square {
  color: #3A5795;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.section-title {
  font-size: 24px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 42px;
}

.section-title.dash {
  font-size: 20px;
  position: relative;
}

.section-title.dash::before, .section-title.dash::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #3D1101;
}

.section-title.dash::before {
  left: -130px;
}

.section-title.dash::after {
  right: -130px;
}

@media (max-width: 768px) {
  .section-title.dash::before, .section-title.dash::after {
    display: none;
  }
}

.section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-list li {
  width: 30%;
}

.section-list h4 {
  padding: 16px 0;
  font-size: 18px;
  font-weight: 500;
}

.section-list p {
  text-align: justify;
}

@media (max-width: 768px) {
  .section-list li {
    width: 75%;
    margin: auto;
  }
  .section-list li + li {
    margin-top: 36px;
  }
  .section-list h4 {
    padding: 8px 0;
  }
}

.mainChef {
  color: #fff;
  background-color: #3D1101;
}

.mainChef-pic {
  height: 500px;
  width: 50%;
}

.mainChef-text {
  width: 50%;
  padding: 0 28px;
}

.mainChef-text h3 {
  font-size: 20px;
  margin-bottom: 24px;
}

.mainChef-text span {
  font-size: 16px;
}

.mainChef .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

@media (max-width: 768px) {
  .mainChef-pic {
    width: 100%;
    height: 100vh;
  }
  .mainChef-text {
    width: 90%;
    padding: 30px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    border-radius: 0 35px 0 0;
    background-color: rgba(61, 17, 1, 0.8);
    position: absolute;
  }
}

.impression li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.impression div {
  margin-left: 12px;
}

.impression h4 {
  text-align: left;
}

.impression .position {
  margin-top: 16px;
  text-align: right;
  color: rgba(61, 17, 1, 0.75);
}

.reservation {
  background-color: rgba(250, 250, 250, 0.7);
}

.reservation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reservation img {
  width: 55%;
}

.reservation form {
  width: 45%;
  text-align: left;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reservation form > label {
  display: block;
}

.reservation form input:not([type=radio]) {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

.reservation form input[type=radio] {
  margin-right: 16px;
}

.reservation .btns {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 768px) {
  .reservation form,
  .reservation img {
    width: 100%;
    padding: 0 20px;
  }
  .reservation img {
    margin-bottom: 32px;
  }
  .reservation form div {
    margin-bottom: 12px;
  }
}

.btn {
  padding: 8px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.btn-cancel {
  background-color: #aaa;
}

.btn-submit {
  background-color: #FF5E45;
}

.btn + .btn {
  margin-left: 8px;
}

.btn:hover {
  opacity: .7;
}

.img-round {
  border-radius: 50%;
}

.img-fit {
  -o-object-fit: cover;
     object-fit: cover;
}

.word-break {
  display: none;
}

@media (max-width: 768px) {
  .word-break {
    display: block;
  }
}

.products-content {
  padding-top: 58px;
  padding-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-content aside {
  width: 25%;
}

.products-content > div {
  width: 70%;
}

@media (max-width: 768px) {
  .products-content aside,
  .products-content > div {
    width: 100%;
  }
  .products-content aside {
    margin-bottom: 32px;
  }
}

.aside-title {
  font-size: 20px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.aside-title i {
  font-size: 32px;
  padding-right: 12px;
}

.aside-link {
  padding: 12px;
  border-bottom: 1px solid #3D1101;
}

.aside-link.active {
  color: #fff;
  background-color: #3D1101;
}

.aside-link:not(.aside-link.active):hover {
  color: #fff;
  background-color: rgba(61, 17, 1, 0.5);
}

.toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.search {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .search {
    width: 100%;
    margin-bottom: 16px;
  }
}

.search input {
  padding: 8px;
  background-color: transparent;
  border: 2px solid #3D1101;
  width: 100%;
  border-radius: 5px 0 0 5px;
}

.search input:focus {
  background-color: #fff;
}

.search button {
  color: #fff;
  background-color: #3D1101;
  border: 1px solid #3D1101;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 0 5px 5px 0;
}

.cart {
  width: 30%;
  text-align: right;
  position: relative;
}

@media (max-width: 768px) {
  .cart {
    width: 100%;
  }
}

.cart strong {
  padding-right: 12px;
  margin-right: 12px;
  border-right: 1px solid #3D1101;
  -webkit-transition: .3s;
  transition: .3s;
}

.cart i {
  font-size: 24px;
}

.cart span {
  position: absolute;
  top: -1px;
  right: 8px;
  color: #fff;
  font-size: 8px;
  text-align: center;
  width: 18px;
  height: 18px;
  background-color: #FF5E45;
  border-radius: 50%;
}

.cart a {
  display: inline-block;
  padding: 8px 16px 8px 10px;
}

.cart a:hover strong {
  letter-spacing: 5px;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-item {
  width: 31%;
  margin-bottom: 30px;
  -webkit-box-shadow: 2px 2px 6px #aaa;
          box-shadow: 2px 2px 6px #aaa;
}

@media (max-width: 1024px) {
  .card-item {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .card-item {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-img {
  height: 140px;
  position: relative;
  background: no-repeat center/ cover;
}

@media (max-width: 768px) {
  .card-img {
    height: 120px;
  }
}

.card-body {
  padding: 12px;
  text-align: center;
}

.card-body h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.card-body h4::after {
  content: '';
  display: block;
  width: 40px;
  margin: auto;
  background-color: #3D1101;
  height: 1px;
  margin-top: 8px;
}

.card-body small {
  font-size: 12px;
}

.card-body p {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 16px;
}

.card-body a {
  padding: 8px;
  font-size: 14px;
  text-align: center;
  color: #FF5E45;
  border: 2px solid #FF5E45;
}

.card-body a:hover {
  color: #fff;
  background-color: #FF5E45;
}

.favorite {
  color: #fff;
  padding: 10px;
}

.favorite.active {
  font-weight: 900;
}

.favorite:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 768px) {
  .favorite {
    font-size: 20px;
  }
}

.hotTag-block {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 105px;
  height: 105px;
  text-align: center;
  overflow: hidden;
}

.hotTag-text {
  position: absolute;
  top: 12px;
  right: -55px;
  padding: 4px;
  width: 150%;
  font-size: 12px;
  letter-spacing: 2px;
  background-color: #0c9;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.account-content {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-title {
  font-size: 48px;
  font-weight: 900;
}

.account-subTitle {
  font-size: 24px;
  margin-bottom: 24px;
}

.account-card {
  padding: 24px 0;
  min-width: 350px;
  -webkit-box-shadow: 2px 2px 10px #aaa;
          box-shadow: 2px 2px 10px #aaa;
  border-top: 5px solid #FF5E45;
}

.account-card h3 {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-bottom: 24px;
}

.account-form {
  padding: 0 24px;
}

.account-form div {
  margin-bottom: 24px;
  text-align: left;
}

.account-form input {
  width: 100%;
  padding: 8px 8px 8px 36px;
}

.account-form label {
  text-align: left;
  display: block;
  margin-bottom: 4px;
  position: relative;
}

.account-form label::before {
  position: absolute;
  left: 12px;
  top: 34px;
  color: rgba(61, 17, 1, 0.5);
  font-family: "Font Awesome 5 Pro";
}

.account-form label[for=loginEmail]::before,
.account-form label[for=signupEmail]::before {
  content: "\f0e0";
}

.account-form label[for=loginPassword]::before,
.account-form label[for=signupPassword]::before,
.account-form label[for=signupCheckPassword]::before {
  content: "\f023";
}

.account-form .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.account-form .btn {
  width: 48%;
  text-align: center;
}

.account-cardBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account-cardBody .btns {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .account-cardBody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.account-rule {
  max-width: 300px;
  padding: 0 24px;
}

@media (max-width: 768px) {
  .account-rule {
    max-width: 350px;
    margin-bottom: 32px;
  }
}

.question {
  color: #666;
  margin-bottom: 32px;
}

.question a {
  display: inline-block;
  border-bottom: 2px solid #666;
}

.question a:hover {
  color: #FF5E45;
  border-bottom: 2px solid #FF5E45;
}

.forgetPw {
  display: inline-block;
  font-size: 14px;
  color: #FF5E45;
  border-bottom: 1px solid transparent;
}

.forgetPw:hover {
  border-bottom: 1px solid #FF5E45;
}
/*# sourceMappingURL=all.css.map */